<div class="system_user_content">
  <header>
      <button nz-button nzSize="large" nzType="primary" (click)="addUser('新增', '新增', '')">新增用户</button>
  </header>
  <div class="content_table">
    <nz-table
      #userBasicTable
      nzBordered
      [nzData]="dataSet"
      [nzShowQuickJumper]="true"
      [nzTotal]="tableTotalData"
      [nzFrontPagination]="false"
      [(nzPageSize)]="pageSize"
      [nzLoading]="loading"
      [nzShowTotal]="totalTemplate"
      [nzNoResult]="'没有数据'"
      >
      <thead nzSingleSort>
        <tr>
          <th>用户名</th>
          <th>角色</th>
          <th>是否被锁定</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userBasicTable.data">
          <td>
            {{user.name}}
          </td>
          <td><span *ngFor="let role of user._roles">{{role.name}}</span></td>
          <td>
            <div class="user-locked-content">
              <nz-radio-group [ngModel]="user.locked ? '是' : '否'">
                <label nz-radio nzValue="是">是</label>
                <label nz-radio nzValue="否">否</label>
              </nz-radio-group>
            </div>
          </td>
          <td class="operation">
            <span>
              <a  (click)="addUser('编辑', '保存', user)">编辑</a>
            </span>
            <span *ngIf="user._roles[0].roleId!=1">
                <a class="text-red" (click)="deleteUser(user)">删除</a>
            </span>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <ng-template #totalTemplate let-total>
        <span>共 {{tableTotalData}} 条，</span>
        <span>每页显示{{pageSize}}条，</span>
        <span>共{{pageTotalNumber}}页</span>
    </ng-template>
  </div>
  <nz-modal [(nzVisible)]="isVisible" [nzTitle]="modelTitle" [nzFooter]="modalFooter" [nzContent]="modalContent" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzWidth]="600">
    <ng-template #modalContent>
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label [nzSpan]="6">用户名</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <input nz-input type="text" formControlName="userName" *ngIf="!editProperty">
            <span *ngIf="editProperty">{{userInfo.name}}</span>
            <label class="user_name_warning">
                <div class="help-msg" *ngIf="message.name"><span></span>用户名已存在</div>
            </label>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="6">角色</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <nz-select [(ngModel)]="defaultRole" formControlName="role" *ngIf="userInfo.role.id!='1'" (ngModelChange)="selectRoleChange($event)">
              <nz-option *ngFor="let option of userRoles" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="role_message">
          <nz-form-label [nzSpan]="6">角色描述</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <span *ngIf="userInfo.role.id==='2'">可以从设备读取业务数据，或操作业务逻辑，不具备管理设备全局运行参数的权限</span>
            <span *ngIf="userInfo.role.id==='1'">可对设备进行任何操作</span>
            <span *ngIf="userInfo.role.id==='3'">只能从设备读取数据，不能对设备进行任何设置</span>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="role_message" *ngIf="editProperty">
          <nz-form-label [nzSpan]="6">锁定</nz-form-label>
          <nz-form-control [nzSpan]="14">
              <nz-radio-group [(ngModel)]="userInfo.locked" formControlName="locked">
                <label nz-radio nzValue="是">是</label>
                <label nz-radio nzValue="否">否</label>
              </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="6">密码</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <input nz-input type="password" id="password" placeholder="请输入密码" formControlName="password" [(ngModel)]="userInfo.password">
            <label class="user_name_warning">
                <div class="help-msg" *ngIf="message.password.value===1"><span></span>必须是字母加数字和符号，8位或以上，25位以下</div>
                <div class="help-msg" *ngIf="message.password.value===4"><span></span>任意字母、数字或字符，8位或以上，25位以下</div>
                <div class="help-msg" *ngIf="message.password.value===5"><span></span>必须是字母加数字和符号，12位或以上，25位以下</div>
                <div class="help-msg" *ngIf="message.password.value===2"><span></span>密码不符合规则，请重新输入</div>
                <div class="help-msg" *ngIf="message.password.value===3"><img src="/assets/images/success.svg"></div>
            </label>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="6">确认密码</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <input nz-input type="password" id="validate_password" formControlName="validate_password" placeholder="再次输入密码" [(ngModel)]="userInfo.passwordValidate">
            <label class="user_name_warning">
                <div class="help-msg" *ngIf="message.passwordValidate.value===1"><span></span>请再输入一次刚才设置的密码</div>
                <div class="help-msg modal-two-no" *ngIf="message.passwordValidate.value===2"><span></span>两次输入不一致</div>
                <div class="help-msg" *ngIf="message.passwordValidate.value===3"><img src="/assets/images/success.svg"></div>
            </label>
          </nz-form-control>
        </nz-form-item>
      </form>
    </ng-template>
    <ng-template #modalFooter>
      <button nz-button nzType="default" (click)="handleCancel()" class="float_left">取消</button>
      <button nz-button nzType="primary" (click)="editProperty ? handleOkEdit() : handleOk()" [disabled]="editProperty ? message.name||!message.password||!message.passwordValidate||userInfo.passwordValidate!=userInfo.password||userInfo.password==null||userInfo.name==null||userInfo.passwordValidate==null||userInfo.role=={} || p_password_text==null : message.name||!message.password||!message.passwordValidate||userInfo.password==null || userName == null || userInfo.role=={} || message.password.value != 3||message.passwordValidate.value != 3">{{fooletrTitle}}</button>
    </ng-template>
  </nz-modal>
</div>
