<div nz-row class="device">
    <nz-card nz-col [nzXs]="{span: 24}" [nzMd]="{span: 8}" nzTitle="设备概况">
      <!--<div echarts [options]="eventOption" class="echartsStyle"></div>-->
      <p>Card content</p>
    </nz-card>
    <nz-card nz-col [nzXs]="{span: 24}" [nzMd]="{span: 8}" nzTitle="接口状态">
      <p>Card content</p>
    </nz-card>
    <nz-card nz-col [nzXs]="{span: 24}" [nzMd]="{span: 8}" nzTitle="工作域状态">
      <p>Card content</p>
    </nz-card>
</div>
<div nz-row class="topData" nzGutter="16">
  <div nz-col [nzXs]="{span: 24}" [nzMd]="{span: 13}" >
    <nz-card nzTitle="设备量Top5">
      <p>Card content</p>
    </nz-card>
  </div>
    <div nz-col [nzXs]="{span: 24}" [nzMd]="{span: 11}" >
      <nz-card nzTitle="今日事件检测">
        <p>Card content</p>
      </nz-card>
    </div>
</div>