<!--<div class="panel margin-bottom-30">-->
  <!--<div class="panel-header">-->
    <!--安全配置-->
    <!--<button nz-button nzType="primary" *ngIf="!securityConfig.isEdit" class="operate-btn" (click)="securityConfig.isEdit = true;">编辑</button>-->
    <!--<button nz-button nzType="primary" *ngIf="securityConfig.isEdit" class="operate-btn btn-confirm" (click)="changeSecurityStatus(true)">确认</button>-->
    <!--<button nz-button nzType="primary" *ngIf="securityConfig.isEdit" class="operate-btn" (click)="changeSecurityStatus(false)">取消</button>-->
  <!--</div>-->
  <!--<div class="panel-body security-setting">-->
    <!--<div nz-row>-->
      <!--<div nz-col nzSpan="4">系统强制登出时间</div>-->
      <!--<div nz-col nzSpan="3" *ngIf="!securityConfig.isEdit">-->
        <!--<span *ngIf="securitySetting.timeoutManagement?.strategyRules">{{securitySetting.timeoutManagement?.strategyRules[0].ruleData}}</span>-->
        <!--分钟-->
      <!--</div>-->
      <!--<div nz-col nzSpan="3" *ngIf="securityConfig.isEdit">-->
        <!--<nz-input-number [(ngModel)]="editedSecuritySetting.timeoutManagement.strategyRules[0].ruleData" [nzMin]="5"-->
          <!--[nzMax]="60" [nzStep]="1"></nz-input-number>-->
        <!--分钟-->
      <!--</div>-->
      <!--<div nz-col nzSpan="17" *ngIf="securityConfig.isEdit" class="warning-text">-->
        <!--<i nz-icon type="exclamation-circle" theme="outline"></i>-->
        <!--<span>登录时间请确认在5-60分钟</span>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div nz-row>-->
      <!--<div nz-col nzSpan="4">可尝试登录次数</div>-->
      <!--<div nz-col nzSpan="3" *ngIf="!securityConfig.isEdit">-->
        <!--<span *ngIf="securitySetting.maxLoginTryManagement?.strategyRules">{{securitySetting.maxLoginTryManagement?.strategyRules[0].ruleData}}</span>-->
        <!--次-->
      <!--</div>-->
      <!--<div nz-col nzSpan="3" *ngIf="securityConfig.isEdit">-->
        <!--<nz-input-number [(ngModel)]="editedSecuritySetting.maxLoginTryManagement.strategyRules[0].ruleData" [nzMin]="5"-->
          <!--[nzMax]="10" [nzStep]="1"></nz-input-number>-->
        <!--次-->
      <!--</div>-->
      <!--<div nz-col nzSpan="17" *ngIf="securityConfig.isEdit" class="warning-text">-->
        <!--<i nz-icon type="exclamation-circle" theme="outline"></i>-->
        <!--<span>登录次数请确认在5-10次</span>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div nz-row>-->
      <!--<div nz-col nzSpan="4">密码强度设置</div>-->
      <!--<div nz-col nzSpan="3" *ngIf="!securityConfig.isEdit && securitySetting.passwordComplexityManagement?.strategyRules">{{securitySetting.passwordComplexityManagement?.strategyRules[0].ruleData}}</div>-->
      <!--<div nz-col nzSpan="17" *ngIf="!securityConfig.isEdit" class="warning-text">-->
        <!--<i nz-icon type="exclamation-circle" theme="outline"></i>-->
        <!--<span>{{passwordStrength.selectedValue.tips}}</span>-->
      <!--</div>-->
      <!--<div nz-col nzSpan="3" *ngIf="securityConfig.isEdit">-->
        <!--<nz-select [(ngModel)]="editedSecuritySetting.passwordComplexityManagement.strategyRules[0].ruleData"-->
          <!--(ngModelChange)="strengthChange($event)">-->
          <!--<nz-option *ngFor="let item of passwordStrength.optionsList" [nzLabel]="item.value" [nzValue]="item.value"></nz-option>-->
        <!--</nz-select>-->
      <!--</div>-->
      <!--<div nz-col nzSpan="17" *ngIf="securityConfig.isEdit" class="warning-text">-->
        <!--<i nz-icon type="exclamation-circle" theme="outline"></i>-->
        <!--<span>{{passwordStrength.selectedValue.tips}}</span>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div nz-row>-->
      <!--<div nz-col nzSpan="4">登陆失败锁定时长</div>-->
      <!--<div nz-col nzSpan="3" *ngIf="!securityConfig.isEdit">-->
        <!--<span *ngIf="securitySetting.loginLockingTime?.strategyRules">{{securitySetting.loginLockingTime?.strategyRules[0].ruleData}}</span>-->
        <!--分钟-->
      <!--</div>-->
      <!--<div nz-col nzSpan="3" *ngIf="securityConfig.isEdit">-->
        <!--<nz-input-number [(ngModel)]="editedSecuritySetting.loginLockingTime.strategyRules[0].ruleData" [nzMin]="5"-->
          <!--[nzMax]="60" [nzStep]="1"></nz-input-number>-->
        <!--分钟-->
      <!--</div>-->
      <!--<div nz-col nzSpan="17" *ngIf="securityConfig.isEdit" class="warning-text">-->
        <!--<i nz-icon type="exclamation-circle" theme="outline"></i>-->
        <!--<span>锁定时长时间请确认在5-60分钟</span>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="panel">-->
  <!--<div class="panel-header">-->
    <!--远程登录IP控制-->
    <!--<button nz-button nzType="primary" class="operate-btn" (click)="newIpVisible = true;">添加</button>-->
  <!--</div>-->
  <!--<div class="panel-body">-->
    <!--<div>-->
      <!--<nz-table #remoteIpTable [nzData]="remoteIpList" [nzPageSize]="10">-->
        <!--<thead>-->
          <!--<tr>-->
            <!--<th>序号</th>-->
            <!--<th>登录IP地址/网段</th>-->
            <!--<th>名称</th>-->
            <!--<th>操作</th>-->
          <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
          <!--<tr *ngFor="let data of remoteIpTable.data; let i = index;">-->
            <!--<td>{{i + 1}}</td>-->
            <!--<td>{{data.ruleData}}</td>-->
            <!--<td>{{data.strategyRuleName}}</td>-->
            <!--<td class="delete" (click)="deleteRemoteIp(data.strategyRuleId)">删除</td>-->
          <!--</tr>-->
        <!--</tbody>-->
      <!--</nz-table>-->
    <!--</div>-->
  <!--</div>-->
  <!--<nz-modal [(nzVisible)]="newIpVisible" nzTitle="新增登录IP/网段" (nzOnCancel)="newIpVisible = false;" (nzOnOk)="newIpOk()">-->
    <!--<form nz-form [nzLayout]="vertical" [formGroup]="remoteIpForm">-->
      <!--<nz-form-item nzFlex="true">-->
        <!--<nz-form-label nzFor="nickname" nzSpan="4">别名</nz-form-label>-->
        <!--<nz-form-control nzSpan="20">-->
          <!--<input nz-input formControlName="nickname" id="nickname" name="nickname" maxlength="25">-->
          <!--<nz-form-explain class="warning-text">-->
            <!--<i nz-icon type="exclamation-circle" theme="outline"></i>-->
            <!--长度小于等于25个字符</nz-form-explain>-->
        <!--</nz-form-control>-->
      <!--</nz-form-item>-->
      <!--<nz-form-item nzFlex="true">-->
        <!--<nz-form-label nzFor="ip" nzSpan="4" nzRequired>IP/网段</nz-form-label>-->
        <!--<nz-form-control nzSpan="20">-->
          <!--<input nz-input formControlName="ip" id="ip" name="ip" appValidator="ip">-->
          <!--<nz-form-explain class="error-text" *ngIf="remoteIpForm.get('ip').dirty && remoteIpForm.get('ip').errors">-->
            <!--<i nz-icon type="exclamation-circle" theme="outline"></i>-->
            <!--请输入有效IP地址</nz-form-explain>-->
        <!--</nz-form-control>-->
      <!--</nz-form-item>-->
    <!--</form>-->
  <!--</nz-modal>-->
<!--</div>-->