.ant-menu {
  .ant-menu-item {
    outline: none;
    &.active {
      background-color: #1890ff;
      color: #fff;
    }

    .monitoring {
      background-image: url('../../../assets/images/_generated/nav-monitoring.png');
    }
    .security {
      background-image: url('../../../assets/images/_generated/nav-security.png');
    }
    .asset {
      background-image: url('../../../assets/images/_generated/nav-asset.png');
    }
    .threat {
      background-image: url('../../../assets/images/_generated/nav-threat.png');
    }
    .system {
      background-image: url('../../../assets/images/_generated/nav-system.png');
    }
    .log {
      background-image: url('../../../assets/images/_generated/nav-log.png');
    }
    .report {
      background-image: url('../../../assets/images/_generated/nav-report.png');
    }
    .anticon{
      position: relative;
      top: 1px;
      font-size: 16px;
    }
  }
  .ant-menu-item-selected {
    background-color: transparent;
  }
}

.logo {
  padding: 20px;
  margin-bottom: 10px;
}