.slider_bar{
    height: calc(100vh - 70px);
    font-size: 14px;
    li{
        width: 100%;
        height: 60px;
        line-height: 60px;
        text-align: center;
        outline: none;
        &:first-child.title {
            font-size: 16px;
            color: #26BAFB;
        }
        a {
            display: inline-block;
            width: 100%;
            color: #ccc;
            text-decoration: none;
            &:hover{
                color: #26BAFB;
                cursor: pointer;
            }
            &.active{
                color: #26BAFB;
                background: #0F3D6F;
                text-shadow: rgba(255, 255, 255, 0.498) 1px 1px 10px;
            }
        }
        i{
            width: 20px;
            height: 20px;
            display: inline-block;
            vertical-align: middle;
            background-image: url(../../../assets/images/logo/nav-sprite.png);
            background-repeat: no-repeat;
            &.equipment_general_situation{
                background-position: 0px -30px;
            }
            &.security_audit{
                background-position: -30px -30px;
            }
            &.strategy_audit{
                background-position: -60px 0px;
            }
            &.asset_management{
                background-position: 0px 0px;
            }
            &.debug_tool{
                background-position: -30px 0px;
            }
            &.system_log{
                background-position: -60px -30px;
            }
            &.system_setting{
                background-position: 0px -60px;
            }
        }
    }
    .first_bar {
        position: absolute;
        width: 60px;
        height: 100%;
        background: #002649;
        li.active {
            span {
                display: inline-block;
                width: 40px;
                height: 40px;
                line-height: 40px;
                border-radius: 50%;
                background: radial-gradient(#366496, #194E87);
            }
        }
    }
    .second_bar {
        width: 100px;
        height: 100%;
        margin-left:60px;
        background: #002F5B;
    }
    .collapse {
        position: absolute;
        z-index: 2;
        width: 160px;
        height: 100%;
        font-size: 14px;
        background: #002649;
        transition: ease-in .2s;
        a {
            text-align: left;
            padding-left: 25px;
            i {
                margin-right: 10px;
            }
        }
    }
}
