.page-asset-factorydevice{
  .ant-btn{
    float: right;
    margin-top: -59px;
    margin-bottom: 16px;
  }
}
.modal_body{
  max-height: 530px;
  overflow-y: scroll;
  margin: 28px 42px;
  padding: 10px;
  /*新增工控设备样式*/
  .fac_device_form{
    width: 711px;
    margin: auto;
  }
  .item_label{
    padding-top: 8px;
    color: #434552;
  }
  .item_input{
    margin-bottom: 20px;
    position: relative;
    height: 30px;
  }
  .item_label{
    margin-bottom: 20px;
  }
  .modename_input,.modename_select{
    position: absolute;
    left: 1px;
    top: 0;
  }
  .modename_input{
    z-index: 10;
    width: 95%;
    height: 28px;
    margin: 1px;
    border: 0;
    &:focus{
      box-shadow: none;
    }
  }
  .factory_ipmac_input{
    display: inline-block;
    margin-left: 50px;
    width: 360px;
    margin-bottom: 21px;
  }
  /*查看详情样式*/
  .header-title{
    padding: 0 0 25px 0;
    border-bottom: 1px solid #e7ecef;
  }
  .btn-top-pull-right-margin-back{
    margin-top: -4px;
  }
  .fac-detail-bar{
    margin-bottom: 38px;
    margin-top: 25px;
    .ant-input{
      width: auto;
    }
  }
  .margin_left_30{
    margin-left: 30px;
  }
  .ipmac{
    display: inline-block;
  }
  .detail-title {
    width: 80px;
    display: inline-block;
  }
  .detail-content-select{
    float: none;
    display: inline-block;
  }
  .input_stack{
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 35px);
    height: 100%;
    padding-left: 3px;
    z-index: 10;
    .ant-input{
      width: 97%;
      border: none;
      height: 30px;
      margin-top: 1px;
      &:focus{
        box-shadow: none;
      }
    }
  }
}