@import '../../../../veriable.scss';

.network-device {
    position: relative;
    .add {
      position: absolute;
      top: -50px;
      right: 20px;
      button {
          margin-left: 10px;
      }
      span {
        color: #FFCC33;
      }
    }
  }