.header_nav{
    background-color: #092B50;
    height: 70px;
    .logo_title{
        background-image: url("../../../assets/images/logo/logo-white.svg");
        background-repeat: no-repeat;
        width: 160px;
        height: 40px;
        display: inline-block;
        margin: 15px 20px;
    }
    .right-bar{
        float: right;
    }
}