<div class="learning_content">
    <div class="top-right">
        <span class="txt-warning mr-20">协议端口只有开启状态，智能学习才能学习到此协议</span>
        <button nz-button nzType="primary" [routerLink]="['/pages/setting/protocol']">
            <i nz-icon nzType="arrow-right" nzTheme="outline"></i>管理协议端口
        </button>
    </div>
    <div class="learning_task">
        <!--新建智能学习任务-->
        <div *ngIf="!showLearning">
            <app-learning-creat (learningDetail)="getlearningDetail($event)"></app-learning-creat>
        </div>
        <!--智能学习任务进行中-->
        <div *ngIf="showLearning">
            <app-learning-detail [learningDetail]="learningDetail" (openDeviceModal)="showDeviceModal($event)"></app-learning-detail>
        </div>
    </div>
    <div class="table">
        <nz-table #tableDataTmp
                  [nzData]="tableData"
                  [nzTotal]="tableCount"
                  [nzShowQuickJumper]="true"
                  [nzFrontPagination]="false"
                  [(nzPageIndex)]="pageIndex"
                  [(nzPageSize)]="pageSize"
                  (nzPageIndexChange)="pageIndexChange()"
                  [nzLoading]="loading"
                  [nzShowTotal]="totalTemplate">
            <thead>
                <tr>
                    <th>学习任务名称</th>
                    <th>学习时长</th>
                    <th>已知设备数</th>
                    <th>未知设备数</th>
                    <th>IP/MAC变更的设备数</th>
                    <th>数据流</th>
                    <th>安全域</th>
                    <th>已学习的规则</th>
                    <th>学习状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of tableDataTmp.data">
                    <td>{{item.taskName | date: 'yyyy-MM-dd HH:mm:ss'}} 规则学习</td>
                    <td>{{item.studyLength}} 分钟</td>
                    <td class="txt-green" (click)="showDeviceModal('kown')"><u>{{item.kownDevices}}</u></td>
                    <td class="txt-error" (click)="showDeviceModal('unkown')"><u>{{item.unkownDevices}}</u></td>
                    <td class="txt-blue" (click)="showDeviceModal('ipMac')"><u>{{item.macData}}</u></td>
                    <td>{{item.validFlowdataCount}}</td>
                    <td>{{item.securityAreaName}}</td>
                    <td>{{item.learningprogress}}</td>
                    <td>{{item.state}}</td>
                    <td>
                        <i nz-icon nzType="search" nzTheme="outline"></i>
                        <i nz-icon nzType="delete" nzTheme="fill"></i>
                    </td>
                </tr>
            </tbody>
        </nz-table>
        <ng-template #totalTemplate let-total>
            <span>共 {{tableCount}} 条，</span>
            <span>每页展示 {{pageSize}} 条，</span>
            <span>共 {{pageTotalNumber}} 页</span>
        </ng-template>
    </div>
    <app-device-model [deviceModal]="deviceModal"></app-device-model>
</div>