@import '../../../../veriable.scss';

:host ::ng-deep{
  .ant-input-number {
    color: rgb(191, 191, 191);
    background-color: #000;
    width: 45px;
    border: 1px solid #4b6b92;
    margin: 0 8px;
  }
  .ant-progress-inner{
    background: #000;
  }
  .ant-progress-text {
    color: #fff;
  }
}

.learning_content {
  position: relative;
  .learning_task {
    background: $bg-card;
    padding: 15px;
    margin-bottom: 15px;
    .btn-line {
      background: $bg-card;
      border: 1px solid #25B4F1;
      height: 38px
    }
  }
  u {
    font-weight: bold;
    cursor: pointer;
  }
}

.protocol_title {
  position: absolute;
  top: 10px;
  padding: 10px 0;
  font-size: 16px;
  background: $bg-base;
}