<div class="operatelog_content">
    <!-- 过滤条件 -->
    <app-filter-table [timeValueData]="filterConditionData.timeValueData"
                      [controlArray]="filterConditionData.controlArray"
                      [showTimePicker]="true"
                      [isFuzzySearch]="true"
                      (searchFilterTable)="searchFilterTable($event)">
    </app-filter-table>
    <div class="mb-10">
        <button nz-button nzType="primary" class="mr-10" (click)="outPutModal['isVisible']=true"><i nz-icon nzType="download" nzTheme="outline"></i>导出</button>
        <app-output-panel [outPutModal]="outPutModal"></app-output-panel>
    </div>
    <!-- 表格 -->
    <nz-table #tableDataTmp
              [nzData]="tableData"
              [nzTotal]="tableCount"
              [nzShowQuickJumper]="true"
              [nzFrontPagination]="false"
              [(nzPageIndex)]="pageIndex"
              [(nzPageSize)]="pageSize"
              (nzPageIndexChange)="pageIndexChange()"
              [nzLoading]="loading"
              [nzShowTotal]="totalTemplate">
        <thead>
            <tr>
                <th nzShowSort nzSortKey="user">用户</th>
                <th nzShowSort nzSortKey="user_ip">IP</th>
                <th nzShowSort nzSortKey="timestamp">操作时间</th>
                <th nzShowSort nzSortKey="operationName">操作记录</th>
                <th nzShowSort nzSortKey="operationStatus">操作结果</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let log of tableDataTmp.data">
                <td>{{log.user}}</td>
                <td>{{log.user_ip}}</td>
                <td>{{log.timestamp | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{log.operationName}}</td>
                <td>{{log.operationStatus}}</td>
            </tr>
        </tbody>
    </nz-table>
    <ng-template #totalTemplate let-total>
        <span>共 {{tableCount}} 条，</span>
        <span>每页展示 {{pageSize}} 条，</span>
        <span>共 {{pageTotalNumber}} 页</span>
    </ng-template>
</div>
