@import '../../../../veriable.scss';

.backup_upgrade_content {
    >div {
        overflow: hidden;
        margin-bottom: 10px;
    }
    .backup_left {
        float: left;
        button {
            margin-right: 10px;
        }
        .backup_btn {
            background: $tab-active;
            border-color: $tab-active;
            &:hover, &:active, &:focus {
                background: $tab-active-hover;
                border-color: $tab-active-hover;
            }
        }
        .backup_add_btn {
            background: $btn-green;
            border-color: $btn-green;
            &:hover, &:active, &:focus {
                background: $btn-green-hover;
                border-color: $btn-green-hover;
            }
        }
    }
    .backup_right {
        float: right;
        span {
            color: $txt-warning;
        }
    }
    .backup_table {
        margin-bottom: 20px;
    }
    .upgrade_package {
        .upgrade_package_title {
            .backup {
                color: $txt-warning;
                i {
                    font-style: normal;
                }
                margin-right: 20px;
            }
            .start_backup {
                height: 32px;
                line-height: 32px;
                padding: 0 10px;
                background: $tab-active;
                border-color: $tab-active;
                &:hover, &:active, &:focus {
                    background: $tab-active-hover;
                    border-color: $tab-active-hover;
                }
            }
        }
    }
}