<div class="feature">
  <div class="operate">
    <button nz-button nzType="primary" (click)="upload()">上传威胁特征库</button>
  </div>
  <div class="featurelib-table">
    <nz-table #featurelibTable nzBordered [nzLoading]="loading" [nzData]="featureList" [nzTotal]="featurelibCount"
      [nzShowTotal]="featurelibTpl" [nzShowQuickJumper]="true" [nzFrontPagination]="false" [(nzPageIndex)]="pageIndex"
      [(nzPageSize)]="pageSize" (nzPageIndexChange)="pageIndexChange()">
      <thead>
        <tr>
          <th>威胁名称</th>
          <th>服务类型分类</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of featurelibTable.data">
          <td>{{data?.name ? data?.name: '无'}}</td>
          <td>{{data?._serviceType ? data?._serviceType: '无'}}</td>
          <td>
            <a (click)="getFeatureDetail(data)">查看</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <ng-template #featurelibTpl>
      <span>共 {{featurelibCount}} 条，</span>
      <span>每页展示{{pageSize}}条，</span>
      <span>共{{pageTotal}}页 </span>
    </ng-template>
  </div>
  <nz-modal [(nzVisible)]="modalVisible" [nzWidth]="960" nzTitle="威胁详情" (nzOnCancel)="modalVisible = false;" (nzOnOk)="modalVisible = false;">
    <div class="feature-detail">
      <div class="detail-info">
        <div nz-row nzType="flex" nzJustify="space-between">
          <div nz-col nzSpan="4">威胁名称:{{featureDetailInfo?.name ? featureDetailInfo?.name : '无'}}</div>
          <div nz-col nzSpan="4">服务类型分类:{{featureDetailInfo?._serviceType ? featureDetailInfo?._serviceType : '无'}}</div>
          <div nz-col nzSpan="4">威胁类型:{{featureDetailInfo?._category ? featureDetailInfo?._category : '无'}}</div>
          <div nz-col nzSpan="4">威胁统一编号:{{featureDetailInfo?._cve ? featureDetailInfo?._cve : '无'}}</div>
          <div nz-col nzSpan="4">危害等级:{{featureDetailInfo?._severity ? featureDetailInfo?._severity : '无'}}</div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="24">基本描述:{{featureDetailInfo?._description ? featureDetailInfo?._description : '无'}}</div>
        </div>
      </div>
      <div class="feature-item-list">
        <nz-table #featureDetailTable nzBordered [nzData]="featureDetailList" [nzTotal]="featureDetailCount" [nzLoading]="loadingModal"
          [nzFrontPagination]="false" [nzShowTotal]="featureDetailTpl" [(nzPageIndex)]="pageIndexDetail" [(nzPageSize)]="pageSizeDetail">
          <thead>
            <tr>
              <th width="5%">优先级</th>
              <th width="70%">特征名称</th>
              <th width="10%">风险等级</th>
              <th width="15%">特征编号</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of featureDetailTable.data; let i = index;">
              <td width="5%">{{i + 1}}</td>
              <td width="70%">{{data?.signame ? data?.signame : '无'}}</td>
              <td width="10%">{{data?.riskLevel ? data?.riskLevel : '无'}}</td>
              <td width="15%">{{data?.sid ? data?.sid : '无'}}</td>
            </tr>
          </tbody>
        </nz-table>
        <ng-template #featureDetailTpl>
          <span>共 {{featureDetailCount}} 条，</span>
          <span>每页展示{{pageSizeDetail}}条，</span>
          <span>共{{pageTotalDetail}}页 </span>
        </ng-template>
      </div>
    </div>
  </nz-modal>
</div>