.feature {
  position: relative;
  .operate {
    position: absolute;
    top: -50px;
    right: 0px;
  }
  .featurelib-table {
    th, td {
      text-align: center;
      font-size: 14px;
      color: #5D627F;
    }
  }
  .feature-detail {
    .detail-info {

    }
    .feature-item-list {

    }
  }
}