<div class="top-right">
    <button nz-button nzType="primary" class="mr-10 btn-light">
        <i nz-icon nzType="area-chart" nzTheme="outline" style="font-size: 18px"></i>流量统计分析
    </button>
</div>
<!-- 过滤条件 -->
<app-filter-table [timeValueData]="filterConditionData.timeValueData"
                  [controlArray]="filterConditionData.controlArray"
                  [isFuzzySearch]="true"
                  (searchFilterTable)="searchFilterTable($event)">
</app-filter-table>
<!-- 设备流量 -->
<div class="device-flow">
    <span class="tab-label" *ngFor="let item of deviceType; let i =index" [ngClass]="{'active': item.active}" (click)="checkDeviceType(i)">
        {{item.label}}
    </span>
</div>
<div echarts [options]="option" class="echartsStyle"></div>
<!-- 表格 -->
<nz-table #tableDataTmp
          [nzData]="tableData"
          [nzTotal]="tableCount"
          [nzShowQuickJumper]="true"
          [nzFrontPagination]="false"
          [(nzPageIndex)]="pageIndex"
          [(nzPageSize)]="pageSize"
          (nzPageIndexChange)="pageIndexChange()"
          [nzLoading]="loading"
          [nzShowTotal]="totalTemplate">
    <thead>
        <tr>
            <th>状态</th>
            <th>事件名称</th>
            <th>发生时间</th>
            <th>规则来源</th>
            <th>安全域</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let inc of tableDataTmp.data" (click)="clickIncRow(inc)">
            <td class="wid-76">
                <span *ngIf="inc.status == 'NEW'" class="status text-danger">未读</span>
                <span *ngIf="inc.status != 'NEW'">已读</span>
            </td>
            <td>{{inc.incidentName}}</td>
            <td>{{inc.timestamp | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{inc.incidentRuleType}}</td>
            <td>{{inc.securityAreaName}}</td>
            <td>
                <span class="view-device-detail" ng-click="viewDetail(inc.incidentId)">查看详情</span>
            </td>
        </tr>
    </tbody>
</nz-table>
<ng-template #totalTemplate let-total>
    <span>共 {{tableCount}} 条，</span>
    <span>每页展示 {{pageSize}} 条，</span>
    <span>共 {{pageTotalNumber}} 页</span>
</ng-template>


