<div class="logaudit_content">
    <div class="top-right">
        <button nz-button nzType="primary" class="mr-10" (click)="refresh()">
            <i nz-icon nzType="sync" nzTheme="outline"></i>刷新
        </button>
    </div>
        <!-- 过滤条件 -->
        <div class="protocol_filter">
            <label>协议: </label>
            <nz-select style="width: 130px;" [(ngModel)]="protocol" (ngModelChange)="changeProtocol()">
                <nz-option *ngFor="let option of filterProtocolOptions" [nzLabel]="option.display" [nzValue]="option.value" [nzDisabled]="option.type === 'disabled'"></nz-option>
            </nz-select>
        </div>
        <app-filter-table [timeValueData]="filterConditionData.timeValueData"
                          [controlArray]="filterConditionData.controlArray"
                          [showTimePicker]="true"
                          [isFuzzySearch]="true"
                          (searchFilterTable)="searchFilterTable($event)">
        </app-filter-table>
    <!-- 表格 -->
    <nz-table #tableDataTmp
              [nzData]="tableData"
              [nzTotal]="tableCount"
              [nzShowQuickJumper]="true"
              [nzFrontPagination]="false"
              [(nzPageIndex)]="pageIndex"
              [(nzPageSize)]="pageSize"
              (nzPageIndexChange)="pageIndexChange()"
              [nzLoading]="loading"
              [nzShowTotal]="totalTemplate">
        <thead>
            <tr>
                <th nzShowSort nzSortKey="packetTimestamp">起始时间</th>
                <th nzShowSort nzSortKey="sourceIp" *ngIf="supportIpAndPort(filter)">源IP</th>
                <th nzShowSort nzSortKey="destinationIp" *ngIf="supportIpAndPort(filter)">目的IP</th>
                <th nzShowSort nzSortKey="sourceMac">源MAC</th>
                <th nzShowSort nzSortKey="destinationMac">目的MAC</th>
                <th nzShowSort nzSortKey="sourcePort" *ngIf="supportIpAndPort(filter)">源端口</th>
                <th nzShowSort nzSortKey="destinationPort" *ngIf="supportIpAndPort(filter)">目的端口</th>
                <th nzShowSort nzSortKey="protocolSourceName">协议类型</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let audit of tableDataTmp.data">
                <td>{{audit.packetTimestamp | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                <td *ngIf="supportIpAndPort(filter)">{{supportIpAndPort(audit.protocolSourceName) ? audit.sourceIp : ""}}</td>
                <td *ngIf="supportIpAndPort(filter)">{{supportIpAndPort(audit.protocolSourceName) ? audit.destinationIp: ""}}</td>
                <td>{{audit.sourceMac}}</td>
                <td>{{audit.destinationMac}}</td>
                <td *ngIf="supportIpAndPort(filter)">{{supportIpAndPort(audit.protocolSourceName) ? audit.sourcePort : ""}}</td>
                <td *ngIf="supportIpAndPort(filter)">{{supportIpAndPort(audit.protocolSourceName)? audit.destinationPort : ""}}</td>
                <td>{{audit.protocolSourceName === 'telnet' ? 'Telnet' : audit.protocolSourceName === 'modbus' ? 'Modbus' : audit.protocolSourceName === 'profinetio' ? 'Profinetio' : (audit.protocolSourceName | uppercase) }}</td>
                <td (click)="showDetailWindow(audit)"><i nz-icon nzType="search" nzTheme="outline"></i>详情</td>
            </tr>
        </tbody>
    </nz-table>
    <ng-template #totalTemplate let-total>
        <span>共 {{tableCount}} 条，</span>
        <span>每页展示 {{pageSize}} 条，</span>
        <span>共 {{pageTotalNumber}} 页</span>
    </ng-template>
    <!--详情-->
    <app-detail-panel [auditDataDetail]="auditDataDetail"></app-detail-panel>
</div>
