<div class="logaudit_content">
    <!-- 过滤条件 -->
    <app-filter-table [timeValueData]="filterConditionData.timeValueData"
                      [controlArray]="filterConditionData.controlArray"
                      [logProtocolArray]="filterConditionData.logProtocolArray"
                      [showTimePicker]="true"
                      [isFuzzySearch]="true"
                      (searchFilterTable)="searchFilterTable($event)">
    </app-filter-table>
    <!-- 表格 -->
    <nz-table #tableDataTmp
              [nzData]="tableData"
              [nzTotal]="tableCount"
              [nzShowQuickJumper]="true"
              [nzFrontPagination]="false"
              [(nzPageIndex)]="pageIndex"
              [(nzPageSize)]="pageSize"
              (nzPageIndexChange)="pageIndexChange()"
              [nzLoading]="loading"
              [nzShowTotal]="totalTemplate">
        <thead>
            <tr>
                <th>起始时间</th>
                <th>源IP</th>
                <th>目的IP</th>
                <th>源MAC</th>
                <th>目的MAC</th>
                <th>源端口</th>
                <th>目的端口</th>
                <th>协议类型</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let audit of tableDataTmp.data">
                <td>{{audit.flowTimestampLocal | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{audit.sourceIp}}</td>
                <td>{{audit.destinationIp}}</td>
                <td>{{audit.sourceMac}}</td>
                <td>{{audit.destinationMac}}</td>
                <td>{{audit.sourcePort}}</td>
                <td>{{audit.destinationIp}}</td>
                <td>{{audit.protocolSourceName === 'telnet' ? 'Telnet' : audit.protocolSourceName === 'modbus' ? 'Modbus' : audit.protocolSourceName === 'profinetio' ? 'Profinetio' : (audit.protocolSourceName | uppercase) }}</td>
                <td (click)="showDetailWindow(audit)"><i nz-icon nzType="search" nzTheme="outline"></i>详情</td>
            </tr>
        </tbody>
    </nz-table>
    <ng-template #totalTemplate let-total>
        <span>共 {{tableCount}} 条，</span>
        <span>每页展示 {{pageSize}} 条，</span>
        <span>共 {{pageTotalNumber}} 页</span>
    </ng-template>
    <!--详情-->
    <app-detail-panel [auditDataDetail]="auditDataDetail"></app-detail-panel>
</div>
