<div class="page-login">
  <div class="page-login-header">
    <img src="../../../assets/images/login/logo.png" alt="">
    <span>{{sysInfo.name}}</span>
  </div>
  <div class="page-login-content">
    <div class="login-panel">
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <div class="user-icon">
          <img src="../../../assets/images/login/user.png" alt="">
        </div>
        <nz-form-item>
          <nz-form-control>
            <nz-input-group [nzPrefix]="prefixUser">
              <input type="text" nz-input formControlName="userName" placeholder="用户名">
            </nz-input-group>
            <ng-template #prefixUser><i class="icon-input" nz-icon type="user"></i></ng-template>
            <!--<nz-form-explain *ngIf="validateForm.get('userName').dirty && validateForm.get('userName').errors">Please input your username!</nz-form-explain>-->
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <nz-input-group [nzPrefix]="prefixLock">
              <input type="password" nz-input formControlName="password" placeholder="登录密码">
            </nz-input-group>
            <ng-template #prefixLock><i class="icon-input" nz-icon type="lock"></i></ng-template>
            <!--<nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">Please input your Password!</nz-form-explain>-->
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <nz-input-group [nzPrefix]="prefixKeyboard">
              <input type="text" nz-input formControlName="verifycode" placeholder="验证码"  class="login_text_verifycode">
              <div class="verifycode-box">
                <img [src]="'data:image/jpg;base64,'+imageData" height="20" width="60" style="margin: 15px 25px;">
                <span (click)="getImage()" style="color: #dadada; cursor: pointer;">换一张</span>
              </div>
            </nz-input-group>
            <ng-template #prefixKeyboard><img class="icon-input" src="../../../assets/images/login/keyboard.png" alt=""></ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <span class="login-err" *ngIf="errMsg">{{errMsg}}</span>
            <button nz-button class="login-form-button" [nzType]="'primary'">登录</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </div>
  <div class="page-login-footer"><span>&copy;{{sysInfo.copyright}}</span></div>
</div>
