<div class="page-login">
    <div class="page-login-content">
        <img class="login-img" src="../../../assets/images/login/login_bottom.png"/>
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
            <nz-form-item>
                <nz-form-control>
                    <nz-input-group [nzPrefix]="prefixUser">
                        <input type="text" nz-input formControlName="userName" placeholder="Username">
                        <span class="login_input_icontext">账号</span>
                    </nz-input-group>
                    <nz-form-explain *ngIf="validateForm.get('userName').dirty && validateForm.get('userName').errors">Please input your username!</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <nz-input-group [nzPrefix]="prefixLock">
                        <input type="password" nz-input formControlName="password" placeholder="Password">
                        <span class="login_input_icontext">密码</span>
                    </nz-input-group>
                    <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">Please input your Password!</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <nz-input-group>
                        <input type="text" nz-input formControlName="verifycode" placeholder="verifycode"  class="login_text_verifycode">
                        <img [src]="'data:image/jpg;base64,'+imageData" height="20" width="60" style="margin: 15px 25px;">
                        <span (click)="getImage()" style="color: #dadada; cursor: pointer;">看不清楚,换一张</span>
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <button nz-button class="login-form-button" [nzType]="'primary'">登录</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
</div>
