:host ::ng-deep {
  nz-card {
    background: #0B233D;
  }
  .ant-card-head, .ant-card-bordered {
    border: none;
  }
  .ant-card-head-title {
    padding: 15px 0 8px;
    color: #46C0FF;
    font-weight: bold;
  }
  .ant-card-body {
    padding:5px 10px;
    text-align: center;
  }

  .device-content {
    nz-card {
      min-height: 180px;
      &:nth-child(3) {
        position: absolute;
        right: 1px;
      }
    }
    ul {
      display: flex;
      justify-content: space-between;
      color: #fff;
      padding: 20px 25px;
      list-style: none;
      font-size: 16px;
      .state {
        width: 20px;
        height: 10px;
        border-radius: 5px;
        margin-top: 5px;
      }
    }
  }

  .device-flow {
    nz-card {
      margin-top: 10px;
      min-height: 500px;
    }
    .ant-card-extra {
      width: 85%;
    }
    .echartsStyle {
      height: 256px!important;
      background: #0B233D;
      margin: 10px 0;
    }
  }
}

a {
  color: #29C0FF;
}