<!--右上角刷新-->
<div class="top-right">
    <button nz-button nzType="primary" class="mr-10">
        <i nz-icon nzType="sync" nzTheme="outline"></i>刷新
    </button>
</div>
<div nz-row class="device-content">
    <!--设备概况-->
    <nz-card nz-col [nzXs]="{span: 24}" [nzMd]="{span: 10}" style="padding-top: 38px">
        <div nz-col [nzSpan]="6">
            <canvas id="circle1" width="150" height="118"></canvas>
        </div>
        <div nz-col [nzSpan]="6">
            <canvas id="circle2" width="150" height="118"></canvas>
        </div>
        <div nz-col [nzSpan]="6">
            <canvas id="circle3" width="150" height="118"></canvas>
        </div>
        <div nz-col [nzSpan]="6">
            <canvas id="temp" width="150" height="118"></canvas>
        </div>
    </nz-card>
    <!--接口状态-->
    <nz-card nz-col [nzXs]="{span: 24}" [nzMd]="{span: 8}" nzTitle="接口状态" [nzExtra]="linkStateTemp">
        <ul>
            <li *ngFor="let item of linkState">
                <span>{{item.name}}</span>
                <div class="state" [ngStyle]="{'background': item.state === '已连接' ? '#8BF7B1': item.state === '未连接' ? '#F2A668' : '#BEBEBE'}"></div>
            </li>
        </ul>
        <ng-template #linkStateTemp>
            <a>更多<i nz-icon nzType="right" nzTheme="outline"></i></a>
        </ng-template>
    </nz-card>
    <!--工作域状态-->
    <nz-card nz-col [nzXs]="{span: 24}" [nzMd]="{span: 6}" nzTitle="工作域状态" [nzExtra]="workStateTemp">
        <ul>
            <li *ngFor="let item of workState">
                <span>{{item.name}}</span>
                <div class="state" [ngStyle]="{'background': item.state === '已连接' ? '#8BF7B1': item.state === '未连接' ? '#F2A668' : '#BEBEBE'}"></div>
            </li>
        </ul>
        <ng-template #workStateTemp>
            <a>更多<i nz-icon nzType="right" nzTheme="outline"></i></a>
        </ng-template>
    </nz-card>
</div>
<div nz-row class="device-flow" nzGutter="16">
    <!--设备流量Top5-->
    <div nz-col [nzXs]="{span: 24}" [nzMd]="{span: 13}">
        <nz-card nzTitle="设备流量Top5" [nzExtra]="searchAllTemp">
            <div echarts [options]="flowOption" class="echartsStyle"></div>
            <!-- 表格 -->
            <nz-table #tableDataTmp
                      [nzData]="tableData"
                      [nzTotal]="tableCount"
                      [nzShowQuickJumper]="true"
                      [nzFrontPagination]="false"
                      [(nzPageIndex)]="pageIndex"
                      [(nzPageSize)]="pageSize"
                      (nzPageIndexChange)="pageIndexChange()"
                      [nzLoading]="loading"
                      [nzShowTotal]="totalTemplate">
                <thead>
                    <tr>
                        <th>状态</th>
                        <th>事件名称</th>
                        <th>发生时间</th>
                        <th>规则来源</th>
                        <th>安全域</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let inc of tableDataTmp.data" (click)="clickIncRow(inc)">
                        <td class="wid-76">
                            <span *ngIf="inc.status == 'NEW'" class="status text-danger">未读</span>
                            <span *ngIf="inc.status != 'NEW'">已读</span>
                        </td>
                        <td>{{inc.incidentName}}</td>
                        <td>{{inc.timestamp | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{inc.incidentRuleType}}</td>
                        <td>{{inc.securityAreaName}}</td>
                        <td>
                            <span class="view-device-detail" ng-click="viewDetail(inc.incidentId)">查看详情</span>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
            <ng-template #totalTemplate let-total>
                <span>共 {{tableCount}} 条，</span>
                <span>每页展示 {{pageSize}} 条，</span>
                <span>共 {{pageTotalNumber}} 页</span>
            </ng-template>
        </nz-card>
        <ng-template #searchAllTemp>
            <div class="fl">
                <span class="tab-label" *ngFor="let item of deviceType; let i =index" [ngClass]="{'active': item.active}" (click)="checkDeviceType(i)">
                    {{item.label}}
                </span>
            </div>
            <a class="fr">查看全部<i nz-icon nzType="right" nzTheme="outline"></i></a>
        </ng-template>
    </div>
    <!--今日事件监测-->
    <div nz-col [nzXs]="{span: 24}" [nzMd]="{span: 11}" >
        <nz-card nzTitle="今日事件检测">
            <p>Card content</p>
        </nz-card>
    </div>
</div>