@import '../../../../veriable.scss';

:host ::ng-deep {
  .ant-card-head, .ant-card-bordered {
    border: none;
  }
  .ant-card-head-title {
    padding: 15px 0 8px;
    color: #46C0FF;
    font-weight: bold;
  }
  .ant-card-body {
    padding: 5px 10px;
    color: #fff;
  }
  .ant-table .ant-table-thead > tr > th {
    font-size: 15px;
  }
  nz-card {
    background: $table-bg;
  }

  //页签
  .ant-tabs {
    top: -35px;
    color: #CACACA;
    .ant-tabs-bar {
      border-bottom: 1px solid #DEDEDE;
    }
    .ant-tabs-nav {
      float: right;
      .ant-tabs-tab {
        padding: 12px 2px;
        &:hover {
          color: #CACACA;
        }
      }
      .ant-tabs-tab-active, .ant-tabs-tab-active:hover {
        color: #5AACF9;
      }
    }
  }

  //设备概况
  .device-content {
    position: relative;
    nz-card {
      min-height: 180px;
      &:nth-child(1) {
        text-align: center;
      }
      &:nth-child(3) {
        //position: absolute;
        right: 1px;
      }
    }
    ul {
      display: flex;
      justify-content: space-between;
      padding: 20px 25px;
      list-style: none;
      font-size: 16px;
      .state {
        width: 20px;
        height: 10px;
        border-radius: 5px;
        margin-top: 5px;
      }
    }
  }

  //设备流量
  .device-flow {
    nz-card {
      margin-top: 10px;
      height: 600px;
      overflow: auto;
    }
    > div:nth-child(1) nz-card {
      .ant-card-extra {
        width: 85%;
      }
    }
    .echartsStyle {
      height: 256px;
      background: $table-bg;
      margin: 10px 0;
      &.pie {
        height: 200px;
      }
    }
    .right-chart {
      color: #E5F1FF;
      padding-top: 10px;
      .line {
        width: 300px;
        height: 8px;
        background: #EFF4FA;
        border-radius: 5px;
        margin-right: 10px;
        display: -webkit-inline-box;
        margin-top: 8px;
      }
      .progress {
        @extend .line;
        width: 100px;
        background: #27BDFF;
        position: relative;
        top: -8px;
      }
    }
    .label-content {
      display: flex;
      color: #fff;
      justify-content: space-between;
      margin: 10px;
    }
  }
}

a {
  color: #29C0FF;
}