<div nz-row class="device-content">
    <!--右上角刷新-->
    <div class="top-right">
        <button nz-button nzType="primary">
            <i nz-icon nzType="sync" nzTheme="outline"></i>刷新
        </button>
    </div>
    <!--设备概况-->
    <nz-card nz-col [nzLg]="{span: 24}" [nzXl]="{span: 10}" style="padding-top: 38px">
        <div nz-col [nzSpan]="6" *ngFor="let item of ['circle1', 'circle2', 'circle3', 'temp']">
            <canvas [id]="item" height="118"></canvas>
        </div>
    </nz-card>
    <!--接口状态-->
    <nz-card nz-col [nzLg]="{span: 12}" [nzXl]="{span: 8}" nzTitle="接口状态" [nzExtra]="linkStateTemp">
        <ul>
            <li *ngFor="let item of linkState">
                <span>{{item.name}}</span>
                <div class="state" [ngStyle]="{'background': item.state === '已连接' ? '#8BF7B1': item.state === '未连接' ? '#F2A668' : '#BEBEBE'}"></div>
            </li>
        </ul>
        <ng-template #linkStateTemp>
            <a>更多<i nz-icon nzType="right" nzTheme="outline"></i></a>
        </ng-template>
    </nz-card>
    <!--工作域状态-->
    <nz-card nz-col [nzLg]="{span: 12}" [nzXl]="{span: 6}" nzTitle="工作域状态" [nzExtra]="workStateTemp">
        <ul>
            <li *ngFor="let item of workState">
                <span>{{item.name}}</span>
                <div class="state" [ngStyle]="{'background': item.state === '已连接' ? '#8BF7B1': item.state === '未连接' ? '#F2A668' : '#BEBEBE'}"></div>
            </li>
        </ul>
        <ng-template #workStateTemp>
            <a>更多<i nz-icon nzType="right" nzTheme="outline"></i></a>
        </ng-template>
    </nz-card>
</div>
<div nz-row class="device-flow" nzGutter="16">
    <!--设备流量Top5-->
    <div nz-col [nzLg]="{span: 24}" [nzXl]="{span: 13}">
        <nz-card nzTitle="设备流量Top5" [nzExtra]="flowTemp">
            <div echarts [options]="flowOption" class="echartsStyle"></div>
            <!-- 表格 -->
            <nz-table #tableDataTmp
                      [nzData]="tableData"
                      [nzTotal]="tableCount"
                      [nzShowQuickJumper]="true"
                      [nzFrontPagination]="false"
                      [(nzPageIndex)]="pageIndex"
                      [(nzPageSize)]="pageSize"
                      (nzPageIndexChange)="pageIndexChange()"
                      [nzLoading]="loading"
                      [nzShowTotal]="totalTemplate">
                <thead>
                    <tr>
                        <th>设备名称</th>
                        <th>IP地址</th>
                        <th>MAC地址</th>
                        <th>平均输入速率/小时</th>
                        <th>平均输出速率/小时</th>
                        <th>流量占比</th>
                        <!--<th>更新时间</th>-->
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of tableDataTmp.data" (click)="clickIncRow(inc)">
                        <td>{{item.name}}</td>
                        <td>{{item.ip}}</td>
                        <td>{{item.Mac}}</td>
                        <td>{{item.input}}</td>
                        <td>{{item.output}}</td>
                        <td>{{item.percent}}</td>
                        <!--<td>{{item.update | date: 'yyyy-MM-dd HH:mm:ss'}}</td>-->
                        <td><i nz-icon nzType="search" nzTheme="outline"></i>详情</td>
                    </tr>
                </tbody>
            </nz-table>
            <ng-template #totalTemplate let-total>
                <span>共 {{tableCount}} 条，</span>
                <span>每页展示 {{pageSize}} 条，</span>
                <span>共 {{pageTotalNumber}} 页</span>
            </ng-template>
        </nz-card>
        <ng-template #flowTemp>
            <div class="fl">
            <span class="tab-label" *ngFor="let item of deviceType; let i =index" [ngClass]="{'active': item.active}" (click)="checkDeviceType(i)">
                {{item.label}}
            </span>
            </div>
            <a class="fr">查看全部<i nz-icon nzType="right" nzTheme="outline"></i></a>
        </ng-template>
    </div>
    <!--今日事件监测-->
    <div nz-col [nzLg]="{span: 24}" [nzXl]="{span: 11}" >
        <nz-card nzTitle="今日事件监测" [nzExtra]="monitorTemp">
            <div nz-row>
                <div nz-col [nzMd]="{span: 13}" echarts [options]="monitorPieOption" class="echartsStyle pie"></div>
                <div nz-col [nzMd]="{span: 11}" class="right-chart">
                    <div *ngFor="let item of lineProgress">
                        <span>{{item.name}}</span>
                        <p><span class="line"><span class="progress" [ngStyle]="{'width': item.value/10 + 'px'}"></span></span>{{item.value}}</p>
                    </div>
                </div>
            </div>
            <div class="tab-title">今日命中规则个数Top10</div>
            <nz-tabset>
                <nz-tab [nzTitle]="label.name" *ngFor="let label of tabLabel">
                    <div *ngFor="let item of tabLabelContent" class="label-content">
                        <span>{{item.text}}</span>
                        <span style="color: #46C0FF; font-size: 16px">{{item.count}}</span>
                    </div>
                </nz-tab>
            </nz-tabset>
        </nz-card>
        <ng-template #monitorTemp>
            <a>查看全部<i nz-icon nzType="right" nzTheme="outline"></i></a>
        </ng-template>
    </div>
</div>
