.main_footer{
    margin-left: 160px;
    position: fixed;
    bottom: 0;
    background: #092B50;
    padding: 10px 0px 10px 10px;
    overflow: hidden;
    height: 37px;
    width: 100%;
    color: #fff;
}