<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()">
  <ng-template #modalTitle>
      导出记录
  </ng-template>

  <ng-template #modalContent>
    <p>请注意：该功能最多能导出最近十万条数据，建议配合筛选条件来导出所需数据。</p>
    <p></p>
    <p>请为即将导出的记录设置密码。解压文件时，使用者必须输入相同密码。</p>
    <p></p>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="10">
        <form nz-form [formGroup]="validateModal">
          <nz-input-group [nzSuffix]="suffixTemplate">
              <input type="password" nz-input [placeholder]="!checked ? '输入解压密码' : ''" [(ngModel)]="username" formControlName="username">
          </nz-input-group>
          <ng-template #suffixTemplate><i nz-icon type="lock" theme="fill"></i></ng-template>
        </form>
      </div>
      <div nz-col [nzSpan]="14" *ngIf="!checked">
        <p>
            <i nz-icon type="info-circle" theme="fill"></i>
            <span style="margin-left: 5px;">必须是字母加数字和符号，8位或以上，25位以下</span>
        </p>
      </div>
    </div>
    <div nz-row [nzGutter]="24" [ngStyle]="{'margin-top': !checked ? '0px' : '24px'}">
        <div nz-col [nzSpan]="10">
            <label nz-checkbox [(ngModel)]="checked" (ngModelChange)="checkboxChange()">不用加密</label>
        </div>
    </div>
    <div nz-row [nzGutter]="24" *ngIf="!checked">
        <div nz-col [nzSpan]="24" style="text-align:right" *ngIf="!matchPassword">
            <label>解压密码不符合规则</label>
        </div>
    </div>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading" [disabled]="!checked && !matchPassword"><i nz-icon type="download"></i>下载文件</button>
  </ng-template>
</nz-modal>
