<div nz-row nzGutter="38" class="basic-header">
    <div nz-col [nzLg]="{span: 6}" [nzMd]="{span: 12}" class="gutter-row" *ngFor="let item of totalData">
        <div class="card">
            <span class="card-image"
                  [ngStyle]="{'background-image': 'url(/assets/images/overview/' + item.image + ')'}"></span>
            <div class="card-content">
                <div class="row">
                    <span class="card-title">{{item.title}}</span>
                </div>
                <div class="row description">
                    <span>{{item.todayCount}}</span> 个
                    <div class="trend" [ngStyle]="{color: item.totalCountRange >=0 ? '#6bc24e' : '#e66767'}">
                        <i class="glyphicon"
                           [ngClass]="{true: 'glyphicon-arrow-up', false: 'glyphicon-arrow-down'}[item.totalCountRange>=0]"></i>
                        （
                        <span>{{item.totalCountRange >=0 ? ' + ' : ''}}</span>
                        <span>{{item.totalCountRange}} </span>% ）
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div nz-row nzGutter="38" class="basic-body">
    <div nz-col [nzXs]="{span: 24}" [nzMd]="{span: 12}"  class="gutter-row ">
        <div class="chart">
            <span>最近24小时安全事件趋势</span>
            <div echarts [options]="eventOption" class="echartsStyle"></div>
        </div>
    </div>
    <div nz-col [nzXs]="{span: 24}" [nzMd]="{span: 12}"  class="gutter-row">
        <div class="chart">
            <span>安全设备中设备类型分布</span>
            <div echarts [options]="deviceOption" class="echartsStyle"></div>
        </div>
    </div>
    <div nz-col [nzXs]="{span: 24}" [nzMd]="{span: 12}" class="gutter-row" *ngFor="let item of topListData">
        <div class="chart table">
            <span>{{item.title}}</span>
            <div nz-row class="topData" *ngIf="item?.data?.length > 0">
                <div nz-col nzSpan="10">
                    <ng-container *ngFor="let itemBefore of item.data; let i = index">
                        <div nz-row class="topItem" *ngIf="i<5">
                            <span nz-col nzSpan="18" class="text-left" title="{{itemBefore.name}}">{{itemBefore.name}}</span>
                            <span nz-col nzSpan="6" class="text-right">{{itemBefore.eventCount}}</span>
                        </div>
                    </ng-container>
                </div>
                <div nz-col nzSpan="4" class="line" *ngIf="item?.data?.length>5"><div></div></div>
                <div nz-col nzSpan="10">
                    <ng-container *ngFor="let lastItem of item.data; let i = index">
                        <div nz-row class="topItem" *ngIf="i>=5">
                            <span nz-col nzSpan="18" class="text-left" title="{{lastItem.name}}">{{lastItem.name}}</span>
                            <span nz-col nzSpan="6" class="text-right">{{lastItem.eventCount}}</span>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="nodata" *ngIf="!item?.data?.length">
                <span>暂无数据</span>
            </div>
        </div>
    </div>
</div>
