.basic-header {
  .card {
    height: 144px;
    padding: 38px 35px;
    background-color: #ffffff;
    border: 1px solid #e1e3eb;
    margin-bottom: 38px;
    .card-image {
      width: 70px;
      height: 66px;
      background-repeat: no-repeat;
      position: absolute;
    }
    .card-content {
      position: relative;
      padding-left: 80px;
      height: 66px;
      .card-title {
        position: absolute;
        top: 0;
        line-height: 1;
      }
      .description {
        position: absolute;
        bottom: 0;
        right: 0;
        line-height: 1;
        > span {
          font-size: 24px;
        }
        .trend {
          display: inline-block;
          font-size: 14px;
          margin-left: 10px;
        }
      }
    }
  }
}

.basic-body {
  .chart {
    height: 318px;
    background: #fff;
    border: solid 1px #e1e3eb;
    margin-bottom: 38px;
    padding: 38px 35px 35px 38px;
    .echartsStyle {
      height: 230px;
    }
  }
  .table {
    height: 290px;
    .topData {
      .topItem {
        margin-top: 18px;
        font-size: 14px;
        .text-left {
          padding-right: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .text-right {
          padding-left: 0;
          text-align: right;
        }
        > span:last-child {
          float: right;
        }
      }
      .line > div {
        width: 1px;
        height: 120px;
        border-left: 1px solid #e1e3eb;
        margin: 38px auto;
      }
    }
    .nodata {
      text-align: center;
      line-height: 210px;
      font-size: 14px;
      color: #D8D8D8;
    }
  }
}
