<div class="flow_detail">
    <div class="return_back" [routerLink]="['/pages/securityaudit/flowaudit']">
        <i nz-icon nzType="arrow-left" nzTheme="outline"></i>流量详情
    </div>
    <div class="detail_title">设备概况</div>
    <div class="detail_content" nz-row nzGutter="16">
        <div nz-col [nzLg]="{span: 24}" [nzXl]="{span: 16}">
            <nz-card  nzTitle="1H实时流量趋势图">
                <div echarts [options]="flowOption" class="echartsStyle"></div>
            </nz-card>
        </div>
        <div nz-col [nzLg]="{span: 24}" [nzXl]="{span: 8}">
            <nz-card  nzTitle="协议分布图" [nzExtra]="distributionTemp">
            </nz-card>
            <ng-template #distributionTemp>
                <nz-select [(ngModel)]="icdevicedetail['timeSpan']" name="time_range">
                    <nz-option *ngFor="let item of timeRange" [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
                </nz-select>
            </ng-template>
        </div>
    </div>
</div>