/* You can add global styles to this file, and also import other style files */
@import './veriable.scss';

html, body {
  min-width: 1024px;
  color: #fff;
}

/*** 更改第三方库默认样式 ***/
.ant-layout {
  width: 100%;
  height: 100%;
  background: $bg-base;
  position: relative;
  overflow: hidden;
  .menu_ant-layout {
    flex-flow: row;
  }
  .right_content {
    flex: 1;
  }
  nz-sider {
    flex: none !important;
    max-width: 160px !important;
    min-width: 60px !important;
  }
  .ant-layout-content {
    width: 100%;
    height: 100%;
    .ant-card-head-title {
      color: $txt-blue;
      font-weight: bold;
    }
  }
  .ant-layout-header {
    height: 70px;
    line-height: 70px;
    padding: 0;
  }
  .ant-menu-vertical {
    border: none;
  }
}

/*** modal ***/
.ant-modal {
  .ant-modal-content {
    background-color: $bg-aside;
    .anticon-close {
      color: #fff;
    }
    .ant-modal-header {
      border: none;
      background-color: $bg-aside;
      border-bottom: 1px solid $modal-header-footer-border;
      .ant-modal-title {
        font-weight: 600;
        font-size: 18px;
        color: $ant-modal-title;
      }
    }
    .ant-modal-footer {
      border-top: 1px solid $modal-header-footer-border;
      text-align: center;
      button {
        height: 32px;
        line-height: 32px;
      }
      :last-child {
        background: #0151A7;
        border: none;
      }
      :first-child {
        border-color: rgba(1, 81, 167, 1);
        background-color: rgba(255, 255, 255, 0);
      }
    }
    .ant-modal-body {
      font-size: 16px;
      color: #fff;
      padding-top: 10px;
      padding-bottom: 40px;
      .text-right {
        color: #46C0FF;
      }
      .info-value {
        padding-left: 8px;
      }
    }
    .ant-form-item-control {
      line-height: 25px;
      .select-base, .ant-select-selection, .ant-select-dropdown, .ant-input, .ant-select-dropdown-menu-item, .ant-select-dropdown-menu-item-selected, .ant-select-dropdown-menu-item:hover {
        border-radius: 4px !important;
      }
    }
  }
}

/*** scroll ***/
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #3a3434;
}
::-webkit-scrollbar-track {
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #a5aac2;
  &:hover {
    background-color: #666;
  }
}

/*** table ***/
.ant-table {
  color: #fff;
  background: $table-bg;
  font-size: 15px;
  .ant-table-thead > tr > th {
    color: $txt-blue;
    font-size: 16px;
    background: $table-head;
    padding: 12px 16px;
    border: none;
  }
  .ant-table-tbody {
    tr > td {
      padding: 12px 16px;
      border-bottom: 1px solid $bg-base;
    }
    tr:hover > td {
      background: transparent;
    }
  }
  .ant-table-placeholder {
    color: #fff;
    background: $table-bg;
    border: none;
  }
}

/*** pagination ***/
.ant-table-pagination.ant-pagination {
  color: #fff;
  float: none;
  text-align: center;
  //background: $table-head;
  margin: 0;
  padding: 8px;
}
.ant-pagination-item, .ant-pagination-item-active,
.ant-pagination-options-quick-jumper input,
.ant-pagination-item-link {
  background-color: $bg-aside !important;
  border-color: #0151A7 !important;
  color: #fff !important;
}
.ant-pagination-item {
  background-color: #0151A7 !important;
  a, &:focus a, &:hover a {
    color: #fff;
  }
}

/*** input ***/
.select-base {
  color: #fff;
  border-radius: 0 !important;
}
.ant-select-selection,
.ant-select-dropdown,
.ant-input {
  @extend .select-base;
  background: #000000;
  border: 1px solid #4B6B92;
}
.ant-input:focus, .ant-input:hover,
.ant-select-dropdown {
  border: 1px solid #7B9DD4;
  box-shadow: none;
}
.ant-select-dropdown-menu-item {
  @extend .select-base;
  padding: 0 10px;
}
.ant-select-dropdown-menu-item-selected,
.ant-select-dropdown-menu-item:hover {
  @extend .select-base;
  background: #1E90FF;
}
.ant-select-arrow {
  color: #fff;
}
.ant-form-item-label label {
  color: #D8DEE3;
}
.ant-form-item {
  margin-bottom: 5px;
}

/*** button ***/
.ant-btn {
  height: 40px;
}
.ant-btn-primary {
  background: $btn-base;
  border-color: $btn-base;
  &:hover, &:active, &:focus {
    background: $btn-base-hover;
    border-color: $btn-base-hover;
  }
  &.btn-search {
    background: $btn-search;
    padding: 0 20px;
    margin-left: 20px;
    &:hover, &:active, &:focus {
      background: $btn-search-hover;
    }
  }
}

/*** dropdown  ***/
.ant-dropdown-menu {
  background: #08182A;
  .ant-dropdown-menu-item {
    color: #fff;
    text-align: center;
    &:hover {
      background: $table-bg;
    }
  }
}

/*** icon  ***/
.anticon {
  &.anticon-edit {
    width: 25px;
    height: 25px;
    line-height: 30px;
    border-radius: 50%;
    margin-right: 5px;
    background: #26A08F;
    cursor: pointer;
  }
  &.anticon-arrow-down, &.anticon-search {
    @extend .anticon-edit;
    background: #3550B9;
  }
  &.anticon-delete {
    @extend .anticon-edit;
    background: $txt-error;
  }
}

/*** common ***/
.mr-10 {
  margin-right: 10px;
}
.mr-20 {
  margin-right: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.inline-block {
  display: inline-block;
}
.top-right {
  position: absolute;
  right: 0;
  top: -45px;
}
.tab-label {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #1C4A7A;
  width: 90px;
  text-align: center;
  height: 30px;
  line-height: 28px;
  vertical-align: middle;
  border-radius: 20px;
  color: #29C0FF;
  font-size: 13px;
  margin-right: 10px;
  &.active {
    background: #2B639F;
  }
}
.text-right {
  text-align: right;
}
.txt-error {
  color: $txt-error;
}
.txt-warning {
  color: $txt-warning;
}
.txt-green {
  color: $txt-green;
}
.txt-blue {
  color: $txt-blue;
}
.txt-gray {
  color: $txt-gray;
}

/*** others ***/
.cdk-overlay-container .shortcut-list {
  ul.ant-dropdown-menu {
    background-color: #082748;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #fff;
    padding: 40px 20px;
    padding-bottom: 10px;
    li {
      width: 30%;
      height: 70px;
      cursor: pointer;
      background-color: #0F3C69;
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      &:hover {
        background-color: $tab-active;
        color: #25B4F1;
      }
      i {
        font-size: 18px;
      }
    }
  }
}
.modal_message_tip {
  .ant-modal-content {
    background-color: rgba(0, 38, 73, 1);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.447058823529412);
    .ant-modal-footer {
      border-top: none;
      .ant-btn-primary {
        background-color: rgba(1, 81, 167, 1);
        height: 32px;
        width: 65px;
        color: #FFFFFF;
      }
      .ant-btn-default {
        border-color: rgba(1, 81, 167, 1);
        background-color: rgba(255, 255, 255, 0);
        height: 32px;
        width: 65px;
        color: #FFFFFF;
      }
    }
    .ant-modal-body {
      padding-bottom: 0px;
    }
  }
  .content {
    overflow: hidden;
    img {
      float: left;
      width: 22px;
      margin-right: 20px;
    }
    div {
      float: left;
      :first-child {
        font-weight: 700;
        font-style: normal;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.647058823529412);
        line-height: 22px;
      }
      :last-child {
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        color: #999999;
        line-height: 22px;
      }
    }
  }
}