/* You can add global styles to this file, and also import other style files */
html,body{
    min-width: 1024px;
    color: #fff;
}

/***更改第三方库默认样式***/
.ant-layout {
   width: 100%;
   height: 100%;
   background: #021C33;
    nz-sider {
        flex: none!important;
        max-width: 160px!important;
        min-width: 60px!important;
    }
    .ant-layout-content {
        width: 100%;
        height: 100%;
        padding: 10px;
        background: #011024;
        .ant-card-head-title {
            color: #26BAFB;
            font-weight: bold;
        }
    }
    .ant-layout-header {
        height: 70px;
        line-height: 70px;
        padding: 0;
    }
    .ant-menu-vertical {
        border: none;
    }
}
