$bg-base: #021C33;
$bg-aside: #002649;

$bg-card: #07294E;

$table-bg: #0B233D;
$table-head: #173655;

$btn-txt-hover: #CCD2D6;
$btn-base: #0F3C69;
$btn-base-hover: #0C365E;
$btn-search: #0079FE;
$btn-search-hover: #0169DB;
$btn-green: #148F90;
$btn-green-hover: #10787D;

$tab-active: #0151A7;

$txt-blue: #26BAFB;
$txt-warning: #FF9933;
$txt-tip: #FFCC33;
$txt-error: #FF0000;

$modal-header-footer-border: #243C53;     // modal弹框 header border-bottom和footer border-top的颜色
$ant-modal-title: #fff;                   // modal 的title的文字颜色






