@import '../../../../veriable.scss';

:host ::ng-deep {
  nz-tabset {
    .ant-tabs-bar {
      border: none;
      .ant-tabs-tab {
        width: 160px;
        text-align: center;
        background: #2D455B;
        font-size: 16px;
        color: #F2F2F2;
        margin-right: 3px;
        &.ant-tabs-tab-active {
          background: transparent;
        }
      }
      .ant-tabs-ink-bar-animated {
        height: 100%;
        background: $tab-active;
        z-index: -2;
      }
    }
    .ant-tabs-content {
      .ant-tabs-tabpane {
        background: #173655;
        .ant-table-tbody {
          .ant-table-row {
            .operate {
              .download,
              .detail {
                cursor: pointer;
                position: relative;
                margin-right: 20px;
                padding-left: 40px;
                display: inline-block;
              }
              i {
                position: absolute;
                width: 30px;
                height: 30px;
                text-align: center;
                line-height: 34px;
                background: $tab-active;
                border-radius: 50%;
                top: 50%;
                left: 0px;
                transform: translateY(-50%);
              }
            }
          }
        }
      }
    }
  }
}