<div class="management_group">
  <!-- <input type="text" [(ngModel)]="global"> -->
  <div class="return_back" [routerLink]="['/pages/usermanagement/usergroup']">
    <span>
      <i nz-icon nzType="arrow-left" nzTheme="outline"></i>
    </span>
    <span>权限管理</span>
  </div>
  <div class="management_group_content">
    <div class="management_header">
      <h3>用户组： 审计组</h3>
      <div class="header_step">
        <div class="step_div" [ngClass]="{'active': stepActive[0]}">
          <span>1</span>
          <span>菜单可视配置</span>
        </div>
        <div class="step_icon" [ngClass]="{'active_icon': stepActive[1]}">
            <i nz-icon nzType="arrow-left" nzTheme="outline" [nzRotate]="180"></i>
        </div>
        <div class="step_div" [ngClass]="{'active': stepActive[1]}">
          <span>2</span>
          <span>操作功能配置</span>
        </div>
        <div class="step_icon" [ngClass]="{'active_icon': stepActive[2]}">
            <i nz-icon nzType="arrow-left" nzTheme="outline" [nzRotate]="180"></i>
        </div>
        <div class="step_div" [ngClass]="{'active': stepActive[2]}">
          <span>3</span>
          <span>权限设置预览</span>
        </div>
      </div>
    </div>
    <!-- 菜单可视配置 -->
    <div class="management_content" *ngIf="menuIndex === 0">
      <div class="content" *ngFor="let menu of menus; let i = index">
        <div [ngClass]="{'content_menu_list': i % 2 === 1, 'content_menu': i % 2 === 0}">
          <div class="menu_header">
            <div>
                <i nz-icon [title]="menu.name" [type]="menu.type" nzTheme="fill"></i>
                <span>{{menu.name}}</span>
            </div>
            <label
              nz-checkbox
              [(ngModel)]="menu.allChecked"
              (ngModelChange)="updateAllChecked(menu)"
              [nzIndeterminate]="indeterminate"
            >
            </label>
          </div>
          <div class="menu_sub_content">
            <div class="menu_subtitle" *ngFor="let sub of submenu[menu.state]">
              <!-- <span>{{sub.name}}</span> -->
              <nz-checkbox-group [(ngModel)]="sub.checkOptionsOne" (ngModelChange)="updateSingleChecked(submenu[menu.state], menu.state, i)" class="checkbox_group"></nz-checkbox-group>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 操作功能配置 -->
    <div class="management_operation_content" *ngIf="menuIndex !== 0">
      <div class="operation_header" nz-row>
        <span nz-col [nzSpan]="4">操作对象</span>
        <span nz-col [nzSpan]="20">设置</span>
      </div>
      <div class="operation_content">
        <div *ngFor="let menu of menus; let i = index">
          <div [ngClass]="{'content_menu_list': i % 2 === 1, 'content_menu': i % 2 === 0}" nz-row *ngIf="menu.state !== 'home'">
            <div class="operation_menu_content">
              <span nz-col [nzSpan]="4" class="header">{{menu.name}}</span>
              <div nz-col [nzSpan]="20">
                <div class="menu_subtitle" *ngFor="let sub of submenu[menu.state]" nz-col [nzSpan]="8">
                  <span nz-col [nzSpan]="8">{{sub.name}}</span>
                  <label nz-checkbox nz-col [nzSpan]="8" *ngIf="menuIndex === 1">编辑</label>
                  <span nz-col [nzSpan]="8" *ngIf="menuIndex === 2">编辑</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 权限设置预览 -->
    <div class="step_next">
      <button nz-button nzType="primary" nzSize="large" class="mr-10" (click)="previousStep()" *ngIf="menuIndex > 0">上一步</button>
      <button nz-button nzType="primary" nzSize="large" class="mr-10" (click)="nextStep()" *ngIf="menuIndex < 2">下一步</button>
      <button nz-button nzType="primary" nzSize="large" class="mr-10" [routerLink]="['/pages/usermanagement/usergroup']" (click)="nextStep()" *ngIf="menuIndex === 2">保存</button>
    </div>
  </div>
</div>